{% extends 'oj_base.html' %}

{% block body %}

<!--TODO change width-->
<div style="text-align:center;" id="announcement_form" class="center-block">
	<form class="form">
		<div class="form-group">
			<label for="announce_ID">比赛ID</label>
			<input type="text" class="form-control" id="announce_ID" placeholder="比赛ID">
		</div>
		<div class="form-group">
			<label for="announce_content">公告内容</label>
			<textarea type="text" id="announce_content" placeholder="公告内容" style="resize:none;"></textarea>
		</div>
		<button type="button" class="btn btn-default" id="btn_push_announce">发送公告</button>
	</form>
</div>

{% endblock %}
{% block js_block %}
<script src="/static/js/app/oj/contest/push_announce.js"></script>
{% endblock %}
