<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>小悦悦开学啦！！！</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<canvas id="canvas"></canvas>


<div class="block-audio">
  <audio class="exp" src="/static/m/exp1.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp1.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp1.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp2.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp2.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp2.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp3.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp3.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp3.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp4.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp4.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp4.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp5.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp5.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp5.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp6.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp6.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp6.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp7.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp7.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp7.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp8.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp8.mp3" controls></audio>
  <audio class="exp" src="/static/m/exp8.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch1.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch1.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch2.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch2.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch3.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch3.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch4.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch4.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch5.mp3" controls></audio>
  <audio class="launch" src="/static/m/launch5.mp3" controls></audio>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/fireworks2.js"></script>

</body>
</html>
