{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/icpc/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation" class="active">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation">
                <a href="/members/">历届成员</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">ACM集训队</h2>

            <p>
                北京林业大学ACM集训队成立于2011年，目前由徐艳艳老师担任我校ACM集训队的指导老师，熊瑞麒担任集训队队长。<br><br>
                我校ACM集训队队员由ACM爱好者协会成员进一步选拔而成。ACM集训队是一支以培养优秀ACM创新人才、提高学生学习计算机积极性和主动性为目的的团体，旨在提高我校的ACM竞赛水平，调动学生学习计算机知识的积极性，培养学生的程序设计和团队协作能力，为培养出具有实践能力和创新精神的编程技术人才打下坚实基础。
            </p>
            
        </div>
    </div>
{% endblock %}
