{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/icpc/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation" class="active">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation">
                <a href="/members/">历届成员</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">ACM集训队</h2>

            <p>
               ACM集训队
            </p>
            
        </div>
    </div>
{% endblock %}
