{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/bjfuacm/">ICPC/CCPC简介</a>
            </li>
            <li>
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation" class="active"><a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation">
                <a href="/members/">历届成员</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">我校 ICPC/CCPC 获奖情况</h2>
            <br>
            <li>【铜牌】2016年 第41届ACM国际大学生程序设计竞赛亚洲区域赛 China-Final    <b>王博、邹明哲、熊瑞麒</b></li>
            <br>
            <li>【铜牌】2016年 第41届ACM国际大学生程序设计竞赛亚洲区域赛 China-Final    <b>刘超懿、贾梓健、易彰彪</b></li>
            <br>
            <li>【铜牌】2016年 第2届CCPC中国大学生程序设计竞赛 杭州站    <b>熊瑞麒、于浩源、陈曙光</b></li>
            <br>
            <li>【铜牌】2016年 第2届CCPC中国大学生程序设计竞赛 合肥站    <b>刘超懿、贾梓健、易彰彪</b></li>
            <br>
            <li>【铜牌】2016年 第2届CCPC中国大学生程序设计竞赛 长春站    <b>王博、邹明哲、熊瑞麒</b></li>
            <br>
            <li>【铜牌】2015年 第40届ACM国际大学生程序设计竞赛亚洲区域赛 EC-Final    <b>傅得强、步国超、王博</b></li>
            <br>
            <li>【铜牌】2014年 第39届ACM国际大学生程序设计竞赛亚洲区域赛 牡丹江站    <b></b></li>
            <br>
            <li>【铜牌】2014年 第39届ACM国际大学生程序设计竞赛亚洲区域赛 鞍山站    <b></b></li>
            <br>
            <li>【铜牌】2014年 ACM国际大学生程序设计竞赛全国邀请赛 北京站    <b></b></li>
            <br>
            <li>【铜牌】2013年 第38届ACM国际大学生程序设计竞赛亚洲区域赛 杭州站    <b></b></li>
            <br>
            <li>【铜牌】2013年 第38届ACM国际大学生程序设计竞赛亚洲区域赛 成都站    <b></b></li>
            <br>
            <li>【铜牌】2013年 ACM国际大学生程序设计竞赛全国邀请赛 通化站   <b></b></li>
            <br>
            <li>【铜牌】2012年 第37届ACM国际大学生程序设计竞赛亚洲区域赛 成都站    <b></b></li>
            <br>
            <li>【铜牌】2012年 第37届ACM国际大学生程序设计竞赛亚洲区域赛 天津站  <b></b></li>
            <br>
            <li>【铜牌】2011年 第36届ACM国际大学生程序设计竞赛亚洲区域赛 大连站   <b></b></li>
        </div>
    </div>
{% endblock %}
