{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/icpc/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation" class="active">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation">
                <a href="/members/">历届成员</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">ACM爱好者协会</h2>
            <br>

            <p>
                ACM爱好者协会成立于2010年12月，在历届前辈的努力之下，协会发展迅速，队伍逐渐壮大，现有成员80余名，由徐艳艳老师担任指导老师。<br>
                协会以参加ACM大赛为目的，集聚广大ACM爱好者，为广大热衷于ACM的同学提供了很好的平台，定期组织培训和练习赛以及假期集训。协会还会组织同学参加各高校和各公司举办的大小程序设计竞赛。<br>
                为什么要搞ACM :<br>
                1.ACM竞赛对学生的锻炼价值极大，在这里走出了一批又一批保研北大、北邮、中科院的优秀学长学姐，另外获奖的ACM队员均进入了一流IT企业。<br>
                2.在这个圈子里你会接触到校内，北京高校，全国乃至全世界一流的编程高手。<br>
                3.我们拥有独立的实验室，良好的学习氛围，在这里，你可以跟周围的大牛一起学习、进步、玩耍，让你的大学生活充实快乐又有价值。<br>
            </p>
            
        </div>
    </div>
{% endblock %}
