{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/icpc/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation">
                <a href="/members/">历届成员</a>
            </li>
            <li role="presentation" class="active">
                <a href="/evening/">诸神的黄昏</a>
            </li>
        </ul>
        <h2 class="text-center">诸神的黄昏</h2>
        <div><p><a style="font-size: 16px;" href="http://haifengjin.com/chinese/2014/04/17/I-and-A-Club.html"> 我与A协</a></p>
            <p>作者：金海峰</p>
            <p>绰号：金牛</p>
            <p>&nbsp;</p>
            <p><a style="font-size: 16px;" href="http://fudq.blog.163.com/blog/static/191350238201510162124291/"> 退役，难说再见，不说再见！</a></p>
            <p>作者：傅得强</p>
            <p>绰号：傅总，帅傅</p>
            <p>&nbsp;</p>
            <p><a style="font-size: 16px;" href="http://bu540402.github.io/RetiredTime/"> 落幕时刻</a></p>
            <p>作者：步国超</p>
            <p>绰号：小步同学，步神</p>
            <p>&nbsp;</p>
            <p><a style="font-size: 16px;" href="http://fangyu.me/2015/11/24/%E6%88%91%E4%B8%8E%E6%9E%97%E5%A4%A7%E2%80%94%E2%80%94ACM%E4%B8%8D%E8%AF%B4%E5%86%8D%E8%A7%81/"> 我与林大&mdash;&mdash;ACM不说再见</a></p>
            <p>作者：吴芳昱</p>
            <p>绰号：吴神</p>
            <p>&nbsp;</p>
            <p><a style="font-size: 16px;" href="http://blog.csdn.net/ivan_wb/article/details/53965466"> 嗨，ACM，再见！</a></p>
            <p>作者：王博</p>
            <p>绰号：钉哥</p>
        </div>


    </div>
{% endblock %}
