{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/bjfuacm/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation">
                <a href="/members/">历届成员</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">ACM/ICPC简介</h2>
            <img src="/static/img/acm_logo.png" id="about-acm-logo" class="center-block">

            <p>
                ACM国际大学生程序设计竞赛（英语：ACM International Collegiate Programming Contest,
                ICPC）是由美国电脑协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。
                经过30多年的发展，ACM国际大学生程序设计竞赛已经发展成为最具影响力的大学生计算机竞赛。赛事目前由IBM公司赞助。
            </p>

            <h2 class="text-center">CCPC简介</h2>
            <img src="/static/img/CCPC_logo.jpg" class="center-block" width="110px" height="110px">

            <p>
               中国大学生程序设计竞赛（ChinaCollegiateProgrammingContest，简称CCPC）
                是由中国大学生程序设计竞赛协会主办的面向世界大学生的国际性年度赛事，旨在激励当代大学生运用计算机编程技术和技能来解决实际问题，
                激发其学习算法和程序设计的兴趣，培养其团队合作意识、创新能力和挑战精神。<br><br>
                中国大学生程序设计竞赛协会是由中国各高校程序设计竞赛教练组成的社会团体，于2014年筹备成立。
                协会常务理事会成员具有丰富的赛事组织和指导经验，很多人从1996年开始就担任教练和赛事组织工作，
                不仅指导学生在程序设计竞赛中多次获得全球总冠军以及数十枚金银铜奖，而且都有承办全球或亚洲地区程序设计国际比赛的成功经历。
            </p>

        </div>
    </div>
{% endblock %}
