{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/icpc/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation" class="active">
                <a href="/members/">历届成员</a>
            </li>
            <li role="presentation">
                <a href="/evening/">诸神的黄昏</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">历届成员</h2>
            <table class="table">
                <caption>
                    2017 ~ 2018 学年
                </caption>
                <tr><td><b>会长</b></td><td>张宇奇</td><td></td><td></td><td></td><td></td></tr>
                <tr><td><b>集训队长</b></td><td>高佳萌</td><td></td><td></td><td></td><td></td></tr>
            </table>
            <table class="table">
                <caption>
                    2016 ~ 2017 学年
                </caption>
                <tr><td><b>会长</b></td><td>谢永斌</td><td></td><td></td><td></td><td></td></tr>
                <tr><td><b>集训队长</b></td><td>熊瑞麒</td><td></td><td></td><td></td><td></td></tr>
                <tr><td><b>团支书</b></td><td>杨焯雅</td><td></td><td></td><td></td><td></td></tr>
                <tr><td><b>副会长</b></td><td>刘超懿</td><td>林旻</td><td></td><td></td><td></td></tr>
                <tr><td><b>集训队副队长</b></td><td>徐天骄</td><td></td><td></td><td></td><td></td></tr>
                <tr><td rowspan="5"><b>集训队成员</b></td><td>高佳萌</td><td>胡轶群</td><td>贾梓健</td><td>林旻</td><td>凌伟博</td></tr>
                <tr><td>刘超懿</td><td>刘强强</td><td>桑安琪</td><td>孙涛</td><td>韦立宁</td></tr>
                <tr><td>谢永斌</td><td>熊瑞麒</td><td>徐佳盛</td><td>徐天骄</td><td>许哲楠</td></tr>
                <tr><td>杨焯雅</td><td>易彰彪</td><td>于浩源</td><td>张宇奇</td><td>张子良</td></tr>
                <tr><td>朱威</td><td></td><td></td><td></td><td></td></tr>
                <tr><td rowspan="14"><b>16级协会成员</b></td><td>鲍彬彬</td><td>卜羽琦</td><td>曹伟强</td><td>沈季康</td><td>沈露琪</td></tr>
                <tr><td>陈鸿祥</td><td>陈凯</td><td>陈立德</td><td>陈孟达</td><td>陈楠</td></tr>
                <tr><td>陈婉菁</td><td>董唯璇</td><td>杜欣蔚</td><td>段秋琳</td><td>范睿先</td></tr>
                <tr><td>方煌锖</td><td>方雨晨</td><td>封帆</td><td>龚冠瑞</td><td>花啟钧</td></tr>
                <tr><td>李磊</td><td>李兴珏</td><td>李源</td><td>李子霂</td><td>廖嘉伟</td></tr>
                <tr><td>林哲宇</td><td>刘佳欣</td><td>刘润萌</td><td>刘爽</td><td>刘晓雨</td></tr>
                <tr><td>梅浩</td><td>蒙秀扬</td><td>欧琳琳</td><td>沙伟成</td><td>石琨</td></tr>
                <tr><td>石霄宇</td><td>史金明</td><td>宋明惠</td><td>苏淼</td><td>谭泞浩</td></tr>
                <tr><td>田兴涛</td><td>田紫微</td><td>仝铠溦</td><td>王福琳</td><td>王金龙</td></tr>
                <tr><td>王溪尧</td><td>王鑫源</td><td>王长天</td><td>王子瑜</td><td>魏跫然</td></tr>
                <tr><td>吴宇晴</td><td>徐川晴</td><td>徐宛扬</td><td>徐云锋</td><td>徐子惠</td></tr>
                <tr><td>许博</td><td>许焯</td><td>薛怡宁</td><td>杨和彦</td><td>杨文捷</td></tr>
                <tr><td>尹丹丹</td><td>袁诗雨</td><td>张笑尘</td><td>张亦鸣</td><td>张雨薇</td></tr>
                <tr><td>张竹颜</td><td>赵璐</td><td>郑湛东</td><td>庄超群</td><td></td></tr>
            </table>
            </div>


            
        </div>
    </div>
{% endblock %}
