{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/icpc/">ICPC/CCPC简介</a>
            </li>
            <li role="presentation">
                <a href="/bjfuacm/">ACM爱好者协会</a>
            </li>
            <li role="presentation">
                <a href="/acmer/">ACM集训队</a>
            </li>
            <li role="presentation">
                <a href="/awards/">获奖情况</a>
            </li>
            <li role="presentation" class="active">
                <a href="/members/">历届成员</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">历届成员列表</h2>
            <h3>2016 ~ 2017 学年</h3>
            <div>
                <h4 class="text-center">会长</h4>
                <h5 class="text-center">谢永斌</h5>
                <br>
                <h4 class="text-center">集训队长</h4>
                <h5 class="text-center">熊瑞麒</h5>
                <br>
                <h4 class="text-center">团支书</h4>
                <h5 class="text-center">杨焯雅</h5>
                <br>
                <h4 class="text-center">副会长</h4>
                <h5 class="text-center">刘超懿、林旻</h5>
                <br>
                <h4 class="text-center">集训队副队长</h4>
                <h5 class="text-center">徐天骄</h5>
                <br>
                <h4 class="text-center">集训队成员</h4>
                <h5 class="text-center">高佳萌、胡轶群、贾梓健、林旻、凌伟博、刘超懿、刘强强、桑安琪、孙涛、韦立宁、谢永斌、熊瑞麒、徐佳盛、徐天骄、许哲楠、杨焯雅、易彰彪、于浩源、张宇奇、张子良、朱威</h5>
                <br>
                <h4 class="text-center">16级协会成员</h4>
                <h5 class="text-center">鲍彬彬、卜羽琦、曹伟强、沈季康、沈露琪、陈鸿祥、陈凯、陈立德、陈孟达、陈楠
                                    、陈婉菁、董唯璇、杜欣蔚、段秋琳、范睿先、方煌锖、方雨晨、封帆、龚冠瑞、花啟钧
                                    、李磊、李兴珏、李源、李子霂、廖嘉伟、林哲宇、刘佳欣、刘润萌 、刘爽、刘晓雨、梅浩
                                    、蒙秀扬、欧琳琳、沙伟成、石琨、石霄宇、史金明、宋明惠、苏淼、谭泞浩、田兴涛
                                    、田紫微、王福琳、王金龙、王溪尧、王鑫源、王长天、王子瑜、魏跫然、吴宇晴、徐川晴
                                    、徐宛扬、徐云锋、徐子惠、许博、许焯、薛怡宁、杨和彦、杨文捷、尹丹丹、袁诗雨
                                    、张笑尘、张亦鸣、张雨薇、张竹颜、赵璐、郑湛东、庄超群</h5>
                <br>
            </div>


            
        </div>
    </div>
{% endblock %}
