<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>孙悦小宝宝的小红花</title>
</head>
<body>
<input type="button" value="奖励小花花" onclick="add(this)">
<input type="button" value="扣除小花花" onclick="del(this)">
<div id="inputs" ></div>
<script type="text/javascript">
    var inputs=document.getElementById('inputs');
    var count = 1;
    con = get_content(count);
    inputs.innerHTML = con;
    function add(){
        count++;
        content = get_content(count);
        inputs.innerHTML = content;
    }
    function del(){
        count--;
        content = get_content(count);
        inputs.innerHTML = content;
    }
    function get_content(count) {
        str_2 = '<img src=\"/static/img/timg.jpeg\" height=120 width=120>';
        str_1 = '<img src=\"/static/img/follower.jpeg\" height=120 width=120>';
        result = '';
        juhua = count / 7;

        for (var i = 0; i < Math.floor(count / 7); i++) {
            result += str_2;
        }
        result += '<br>';
        for (var j = 0; j < count % 7; j++){
            result += str_1;
        }
        return result;
    }
</script>
</body>
</html>